<!doctype html>
<html>
  <head>
    <style type="text/css">
<%= compiled_code %>
    </style>
    <style type="text/css">
html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.red-box {
  background-color: red !important;
}
    </style>
  </head>
  <body>
    <div class="red-box"></div>
  </body>
</html>
