<!doctype html>
<html>
  <head>
    <title>Grader Verdict</title>
    <link rel="icon" type="iamge/png" href="favicon.png" />
    <style type="text/css">
      html, body {
        width: 800px;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
            "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.25;
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
      }
      pre {
        font-family: Consolas, "Lucida Console", Monaco, monospace;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <h1>
      Grader verdict for
      <span class="task-name"><%= @problem.class.name %></span>
    </h1>
    <p><%= h @problem.verdict_reason %>
    <h2>Grading log</h2>
    <pre class="log"><%= h @problem.log_contents %></pre>
    <h2>Compiled code</h2>
    <pre class="code"><%= h @problem.compiled_code %></pre>
  </body>
</html>
